.profile__text {
  max-width: 490px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
	text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .profile__text {
    max-width: 370px;
  }
}

@media screen and (max-width: 768px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    margin: 4px auto 34px;
    padding: 2px 0 0 0;
  }
}

@media screen and (max-width: 470px) {
  .profile__text {
    max-width: 230px;
  }
}