.popup__conteiner {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: static;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  .popup__conteiner {
    width: 282px;
    height: 320px;

  }
}