.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 42px 0 45px 36px;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    line-height: 21px;
    margin: 41px 22px 62px;
  }
}